<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091459830972-i33hpjh1airqj9segq8e92m2498mm905.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091459830972-i33hpjh1airqj9segq8e92m2498mm905</string>
	<key>API_KEY</key>
	<string>AIzaSyDRFK168BL1UMYX-mUOpDhf4lvRcnb4xLM</string>
	<key>GCM_SENDER_ID</key>
	<string>1091459830972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerKilicaslan.CryptoWatch</string>
	<key>PROJECT_ID</key>
	<string>cryptoapp-97ba9</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoapp-97ba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091459830972:ios:f5908e3ab6467a2783ecb9</string>
</dict>
</plist>